<html>
<head>
    <meta charset="UTF-8"/>
    <title>Auth</title>
</head>
<body>
<div id="body">
    <p>Registration menu</p>

    <form name="registration" action="registration.html" method="post">
        <input type="text" name="login"/> - Login <br>
        <input type="text" name="password"/> - Password <br>
        <input type="text" name="repeat_password"/> - Repeat password <br>
        <input type="submit" value="Register">
    </form>
    <p>${wrongLogin}</p>
    <p>${wrongPassword}</p>
</div>
</body>
</html>